name: Flask CI

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Podman
      run: sudo apt-get update && sudo apt-get install -y podman

    - name: Run tests with pytest
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        pytest --junitxml=result.xml

    - name: Upload Test Results
      if: always() # Uploads even if tests fail
      uses: actions/upload-artifact@v4
      with:
        name: pytest-results
        path: result.xml

    - name: Build Image with Podman
      run: |
        podman build -t biletado-backend:latest .